<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="new" method="post">
    <div class="form-example">
      <label for="userId">아이디</label>
      <input type="text" id="userId" name="userId" placeholder="">
      <text id="validateId">#아이디 유효성 검사</text>
    </div>
    <div class="form-example">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" placeholder="">
      <text id="validatePassword">#비밀번호 유효성 검사</text>
    </div>
    <div class="form-example">
      <label for="passwordCheck">비밀번호 확인</label>
      <input type="password" id="passwordCheck" placeholder="">
      <text id="validateRepassword">#비밀번호 확인 유효성 검사</text>
    </div>
    <button type="submit" onclick = "passwordChecking()">회원가입</button>
  </form>
</div> <!-- /container -->

<!--
  1. form action
  2. button type="submit"
  3. name field랑 match
-->

<script>

    function blankCheck() {

    }
    function passwordChecking() {
      var pwd = document.getElementById('password').value;
      var pwdChk = document.getElementById('passwordCheck').value;
      if (pwd != pwdChk) {
        alert("비밀번호가 서로 다릅니다.");
        return false;
      }
    }
</script>
</body>
</html>