<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form method="post">
    <div class="form-example">
      <label for="userId">아이디</label>
      <input type="text" id="userId" placeholder="">
      <text id="validateId">#아이디 유효성 검사</text>
    </div>
    <div class="form-example">
      <label for="password">비밀번호</label>
      <input type="password" id="password" placeholder="">
      <text id="validatePassword">#비밀번호 유효성 검사</text>
    </div>
    <div class="form-example">
      <label for="passwordCheck">비밀번호 확인</label>
      <input type="password" id="passwordCheck" placeholder="">
      <text id="validateRepassword">#비밀번호 확인 유효성 검사</text>
    </div>
    <div class="form-example">
      <label for="userEmail">이메일</label>
      <input type="email" id="userEmail" placeholder="">
    </div>
    <div class="form-example">
      <button type="button" onclick = "passwordChecking()">회원가입</button>
    </div>
  </form>
</div> <!-- /container -->
  <script>


    function blankCheck() {

    }
    function passwordChecking() {
      var pwd = document.getElementById('password').value;
      var pwdChk = document.getElementById('passwordCheck').value;
      if (pwd != pwdChk) {
        alert("비밀번호가 서로 다릅니다.");
        return false;
      }
    }
  </script>
</body>
</html>