<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 프로젝트</title>
</head>
<body>
    <h1>회원 기능</h1>

    <div class="container">
        <form action="login" method="post"><!-- 버튼 누르면 PostMapping으로 매핑된 곳으로 가는 것 -->
            <div class="form-group">
                <label for="userId">ID</label>
                <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요">
                <br><br>
                <label for="password">PW</label>
                <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <br>
            <button type="submit">로그인</button>
        </form>
    </div> <!-- /container -->
    <p>
        <a href="new">회원 가입</a>
    </p>
</body>
</html>